chardet>=5.2.0
pydantic
python-calamine
torch==2.3.1+cpu
torchaudio==2.3.1+cpu
torchvision==0.18.1+cpu
autogluon>=1.3.0
autogluon.tabular[skex]>=1.3.0
setuptools<70.0.0
pandas
opencv-python-headless
numpy
pytz
python-dateutil
datasets>=3.6
six
pyarrow
librosa
soundfile